version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/"
    target-branch: "develop"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    reviewers:
      - "hochdyl"
    labels:
      - "dependencies"
      - "npm"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "docker"
    directory: "/"
    target-branch: "develop"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    reviewers:
      - "hochdyl"
    labels:
      - "dependencies"
      - "docker"
    commit-message:
      prefix: "chore"

  - package-ecosystem: "github-actions"
    directory: "/"
    target-branch: "develop"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "hochdyl"
    labels:
      - "dependencies"
      - "github-actions"
    commit-message:
      prefix: "chore"
