.shine {
  --space: 4%;
  --cosmosbg: center center;

  background-image:
    url("/textures/cosmos-bottom.png"),
    repeating-linear-gradient(
      82deg,
      hsl(53deg 65% 60%) calc(var(--space) * 1),
      hsl(93deg 56% 50%) calc(var(--space) * 2),
      hsl(176deg 54% 49%) calc(var(--space) * 3),
      hsl(228deg 59% 55%) calc(var(--space) * 4),
      hsl(283deg 60% 55%) calc(var(--space) * 5),
      hsl(326deg 59% 51%) calc(var(--space) * 6),
      hsl(326deg 59% 51%) calc(var(--space) * 7),
      hsl(283deg 60% 55%) calc(var(--space) * 8),
      hsl(228deg 59% 55%) calc(var(--space) * 9),
      hsl(176deg 54% 49%) calc(var(--space) * 10),
      hsl(93deg 56% 50%) calc(var(--space) * 11),
      hsl(53deg 65% 60%) calc(var(--space) * 12)
    ),
    radial-gradient(
      farthest-corner circle at var(--pointer-x) var(--pointer-y),
      hsl(180deg 100% 89% / 50%) 5%,
      hsl(180deg 14% 57% / 30%) 40%,
      hsl(0deg 0% 0%) 130%
    );
  background-blend-mode: color-burn, multiply;
  background-position:
    var(--cosmosbg),
    calc(10% + (var(--pointer-from-left) * 80%))
      calc(10% + (var(--pointer-from-top) * 80%)),
    center center;
  background-size:
    cover,
    400% 900%,
    cover;
  filter: brightness(1) contrast(1) saturate(0.8);
  mix-blend-mode: color-dodge;
}

.shine::before {
  z-index: 2;
  background-image:
    url("/textures/cosmos-middle-trans.png"),
    repeating-linear-gradient(
      82deg,
      hsl(53deg 65% 60%) calc(var(--space) * 1),
      hsl(93deg 56% 50%) calc(var(--space) * 2),
      hsl(176deg 54% 49%) calc(var(--space) * 3),
      hsl(228deg 59% 55%) calc(var(--space) * 4),
      hsl(283deg 60% 55%) calc(var(--space) * 5),
      hsl(326deg 59% 51%) calc(var(--space) * 6),
      hsl(326deg 59% 51%) calc(var(--space) * 7),
      hsl(283deg 60% 55%) calc(var(--space) * 8),
      hsl(228deg 59% 55%) calc(var(--space) * 9),
      hsl(176deg 54% 49%) calc(var(--space) * 10),
      hsl(93deg 56% 50%) calc(var(--space) * 11),
      hsl(53deg 65% 60%) calc(var(--space) * 12)
    );
  background-blend-mode: lighten, multiply;
  background-position:
    var(--cosmosbg),
    calc(15% + (var(--pointer-from-left) * 70%))
      calc(15% + (var(--pointer-from-top) * 70%)),
    center center;
  background-size:
    cover,
    400% 900%,
    cover;
  filter: brightness(1.25) contrast(1.75) saturate(0.8);
  mix-blend-mode: overlay;
}

.shine::after {
  z-index: 3;
  background-image:
    url("/textures/cosmos-top-trans.png"),
    repeating-linear-gradient(
      82deg,
      hsl(53deg 65% 60%) calc(var(--space) * 1),
      hsl(93deg 56% 50%) calc(var(--space) * 2),
      hsl(176deg 54% 49%) calc(var(--space) * 3),
      hsl(228deg 59% 55%) calc(var(--space) * 4),
      hsl(283deg 60% 55%) calc(var(--space) * 5),
      hsl(326deg 59% 51%) calc(var(--space) * 6),
      hsl(326deg 59% 51%) calc(var(--space) * 7),
      hsl(283deg 60% 55%) calc(var(--space) * 8),
      hsl(228deg 59% 55%) calc(var(--space) * 9),
      hsl(176deg 54% 49%) calc(var(--space) * 10),
      hsl(93deg 56% 50%) calc(var(--space) * 11),
      hsl(53deg 65% 60%) calc(var(--space) * 12)
    );
  background-blend-mode: multiply, multiply;
  background-position:
    var(--cosmosbg),
    calc(20% + (var(--pointer-from-left) * 60%))
      calc(20% + (var(--pointer-from-top) * 60%)),
    center center;
  background-size:
    cover,
    400% 900%,
    cover;
  filter: brightness(1.25) contrast(1.75) saturate(0.8);
  mix-blend-mode: multiply;
}

.glare {
  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsl(204deg 100% 95% / 80%) 5%,
    hsl(250deg 15% 20%) 150%
  );
  filter: brightness(0.75) contrast(2) saturate(2);
  mix-blend-mode: overlay;
  opacity: calc(var(--card-opacity) * (0.25 + var(--pointer-from-center)));
}

.glare::after {
  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsl(280deg 100% 96%) 5%,
    hsl(0deg 0% 10%) 60%
  );
  filter: brightness(0.75) contrast(2.5) saturate(2);
  mix-blend-mode: soft-light;
  opacity: calc(1 - var(--pointer-from-top) * 0.75);
}
