.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
}

.cardMedia {
  width: 100%;
}

.cardImage {
  display: block;
  width: 100%;
  height: auto;
  object-position: center;
  border-radius: inherit;
}
