name: Develop

on:
    push:
        branches:
            - develop

concurrency:
    group: obre-${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false

jobs:
    init:
        uses: ./.github/workflows/init.yaml
        secrets: inherit
        with:
            push-to-registry: true

    tests:
        uses: ./.github/workflows/tests.yaml
        secrets: inherit
        needs: init
        with:
            use-registry-image: true

    cleanup:
        uses: ./.github/workflows/image_cleanup.yaml
        secrets: inherit
        needs:
            - tests
        if: always()
