name: Init

on:
    workflow_call:

env:
    # Disable uploading docker image builds as artifacts
    DOCKER_BUILD_RECORD_UPLOAD: false

jobs:
    init:
        runs-on: ubuntu-24.04
        name: Build Docker Image
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@v6

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Install Task
              uses: go-task/setup-task@v1

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              env:
                  IMAGE: ghcr.io/${{ github.repository_owner }}/obre-app
              with:
                  push: true
                  context: .
                  file: ./Dockerfile
                  target: dev
                  tags: ${{ env.IMAGE }}:ci-${{ github.sha }}
                  cache-from: type=registry,ref=${{ env.IMAGE }}:cache
                  cache-to: type=registry,ref=${{ env.IMAGE }}:cache,mode=max
