name: Pull Request

on: pull_request

concurrency:
    group: obre-${{ github.workflow }}-${{ github.head_ref }}
    cancel-in-progress: true

jobs:
    init:
        uses: ./.github/workflows/init.yaml
        secrets: inherit
        with:
            push-to-registry: false

    tests:
        uses: ./.github/workflows/tests.yaml
        secrets: inherit
        needs: init
        with:
            use-registry-image: false
