name: Pull Request

on: pull_request

concurrency:
    group: obre-${{ github.workflow }}-${{ github.head_ref }}
    cancel-in-progress: true

jobs:
    init:
        runs-on: ubuntu-24.04
        name: Build Docker Image
        permissions:
            contents: read
        steps:
            - uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Install Task
              uses: go-task/setup-task@v1

            - name: Build Docker image (no push)
              uses: docker/build-push-action@v6
              env:
                  IMAGE: ghcr.io/${{ github.repository_owner }}/obre-app
              with:
                  load: true
                  context: .
                  file: ./Dockerfile
                  target: dev
                  tags: ${{ env.IMAGE }}:ci-${{ github.sha }}
                  cache-from: type=gha
                  cache-to: type=gha,mode=max

    tests:
        uses: ./.github/workflows/tests.yaml
        secrets: inherit
        needs: init
        with:
            use-registry-image: false
