name: Pull Request

on: pull_request

concurrency:
    group: obre-${{ github.workflow }}-${{ github.head_ref }}
    cancel-in-progress: true

jobs:
    init:
        uses: ./.github/workflows/init.yaml
        secrets: inherit

    lint:
        uses: ./.github/workflows/lint.yaml
        secrets: inherit
        needs:
            - init

    tests:
        uses: ./.github/workflows/tests.yaml
        secrets: inherit
        needs:
            - init
            - lint

    cleanup:
        uses: ./.github/workflows/image_cleanup.yaml
        secrets: inherit
        needs:
            - tests
        if: always()
