name: Release

on:
    push:
        branches:
            - main
        tags:
            - "v*"

concurrency:
    group: obre-${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false

jobs:
    init:
        uses: ./.github/workflows/init.yaml
        secrets: inherit

    tests:
        uses: ./.github/workflows/tests.yaml
        secrets: inherit
        needs: init
        with:
            use-registry-image: true

    cleanup:
        uses: ./.github/workflows/image_cleanup.yaml
        secrets: inherit
        needs:
            - tests
        if: always()
